@gold-color: #dc9942;
@dark-gray-color: #1e1e1e;
@burgundy-color: #843b34;
@base-color: #f7f5ea;

@font-face {
    font-family: ElegantLux;
    src: url('../fonts/ElegantLux-Mager.otf') format('opentype');
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: transparent;
    color: @gold-color;
    border-width: 2px;
    border-color: @gold-color;

    transition: all 0.2s ease-out;

    &:hover {
        background-color: @gold-color;
        color: @base-color;
        border-width: 2px;
        border-color: @gold-color;
    }
}

.btn-lg {
    padding: 20px 25px;
    font-size: 24px;
}

.text-strike {
    text-decoration: line-through;
    opacity: 0.8;
}

body {
    font-family: ElegantLux, Arial, arial, sans-serif;
    background: white;

    a {
        color: white;
    }

    p, span {
        font-size: 28px;
        line-height: 35px;
    }

    h1, h2, h3 {
        text-transform: uppercase;
        letter-spacing: 6px;
        color: @dark-gray-color;
    }

    header {
        background: @base-color;
        background: url('../img/beer-background.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        overflow: hidden;
        #logo {
            margin-top: calc(~"15vh + 70px");
            text-align: center;

            img {
                margin: auto;
                -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
            }
        }
        h1 {
            color: @dark-gray-color;
        }
        .signup {
            margin-top: 15vh;
            background-color: @base-color;
            padding: 50px;
            font-size: 38px;
            margin-bottom: 120px;
            opacity: 1;
            min-height: 515px;
            transition: all 0.8s ease-out;

            ul {
                margin-top: 30px;
                margin-bottom: 40px;
            }

            h1 {
                margin: 0;
                line-height: 50px;
                #degustation-quote {
                  font-weight: bolder;
                }
            }

            label {
                font-size: 20px;
            }

            .form-group {
                margin-bottom: 0;
            }

            .snipcart-add-item {
                margin-top: 20px;
            }
        }
    }

    section {
        padding-top: 150px;
        padding-bottom: 150px;
        .section-title {
            position: relative;
            margin-bottom: 100px;
            z-index: 0;
            h2 {
                display: inline-block;
                padding: 20px 30px 10px 30px;
                background: @base-color;
                font-size: 50px;
                margin-top: 0;
                margin-bottom: 0;
                &.two-line-title {
                    padding-top: 0;
                    & ~ .title-line {
                        top: 85px;
                    }
                }
            }
            .title-line {
                position: absolute;
                height: 0;
                width: 100%;
                border-top: 1px solid @dark-gray-color;
                top: 50px;
                z-index: -1;
            }
        }
    }

    #how-it-works {
        .section-title h2 {
            background: white;
        }
        .step {
            padding: 50px 25px 0 25px;
            .step-number {
                width: 60px;
                height: 60px;
                border-right: 1px solid @dark-gray-color;
                color: @gold-color;
                span {
                    font-size: 85px;
                    line-height: 47px;
                }
            }
            .step-text {
                font-size: 28px;
                width: calc(~"100% - 60px");
                padding-left: 25px;
                line-height: 35px;
                margin-top: -10px;
            }
        }
        #buy-how{
            margin-top: 75px;
        }
    }

    #philosophy {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: @base-color;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            top: -150px;
            right: 0;
        }
        .hidden-sm {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        .visible-sm {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .section-title {
            h2 {
                background: @base-color;
            }
        }
    }

    footer {
        background: @dark-gray-color;
        padding: 100px 0;
        a {
            color: @base-color;
            text-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
            &:hover i {
                transition: 0.3s ease;
                color: @gold-color;
            }
        }
    }
}

@media all and ( max-width: 768px ) {
    body section {
        padding-top: 50px;
        padding-bottom: 50px;
        .section-title {
            margin-bottom: 50px;
            h2 {
                padding: 0 5px;
                font-size: 38px;
            }
            .title-line {
                display: none;
            }
        }
    }
}

@media all and ( max-width: 991px ) {
    body #how-it-works .step {
        clear: both;
    }
}
