@font-face {
  font-family: ElegantLux;
  src: url('../fonts/ElegantLux-Mager.otf') format('opentype');
}
body {
  font-family: ElegantLux, Arial, arial, sans-serif;
  background: white;
}
body a {
  color: white;
}
body p,
body span {
  font-size: 28px;
  line-height: 35px;
}
body h1,
body h2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #1e1e1e;
}
body header {
  height: 100vh;
  background: #f5f5f5;
  background: url('../img/beer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
body header img {
  margin: 15vh auto;
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
}
body header h1 {
  margin-top: 10vh;
  color: #f5f5f5;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
}
body header ul {
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
body header ul li {
  display: inline;
  margin: 0 30px;
  text-align: center;
}
body header ul li a {
  color: #f5f5f5;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
}
body header ul li a:hover i {
  transition: 0.3s ease;
  color: #dc9942;
}
@media all and (max-width: 768px) {
  body header h1 {
    font-size: 23px;
  }
  body header ul li {
    margin: 0 15px;
  }
  body header ul li a i.fa.fa-3x {
    font-size: 2.5em;
  }
}
@media all and (max-height: 650px) {
  body header body header img {
    margin: 5vh auto;
  }
  body header body header img {
    max-height: 350px !important;
  }
}
body section {
  padding-top: 150px;
  padding-bottom: 150px;
}
body section .section-title {
  position: relative;
  margin-bottom: 100px;
  z-index: 0;
}
body section .section-title h2 {
  display: inline-block;
  padding: 0 30px;
  font-size: 50px;
}
body section .section-title .title-line {
  position: absolute;
  height: 0;
  width: 100%;
  border-top: 1px solid #1e1e1e;
  top: 50px;
  z-index: -1;
}
body #how-it-works .section-title h2 {
  background: white;
}
body #how-it-works .step {
  padding: 0 25px;
}
body #how-it-works .step .step-number {
  width: 60px;
  height: 60px;
  border-right: 1px solid #1e1e1e;
  color: #dc9942;
}
body #how-it-works .step .step-number span {
  font-size: 85px;
  line-height: 47px;
  padding-right: 15px;
}
body #how-it-works .step .step-text {
  width: calc(100% - 60px);
  padding-left: 25px;
  margin-top: -10px;
  margin-bottom: 60px;
}
body #philosophy {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
body #philosophy img {
  position: absolute;
  top: -150px;
  right: 0;
}
body #philosophy .hidden-sm {
  padding-top: 150px;
  padding-bottom: 150px;
}
body #philosophy .visible-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}
body #philosophy .section-title h2 {
  background: #f5f5f5;
}
@media all and (max-width: 768px) {
  body section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  body section .section-title {
    margin-bottom: 50px;
  }
  body section .section-title h2 {
    padding: 0;
  }
}
