@font-face {
  font-family: ElegantLux;
  src: url('../fonts/ElegantLux-Mager.otf') format('opentype');
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: transparent;
  color: #dc9942;
  border-width: 2px;
  border-color: #dc9942;
  transition: all 0.2s ease-out;
}
.btn-primary:hover {
  background-color: #dc9942;
  color: #f7f5ea;
  border-width: 2px;
  border-color: #dc9942;
}
.btn-lg {
  padding: 20px 25px;
  font-size: 24px;
}
.text-strike {
  text-decoration: line-through;
  opacity: 0.8;
}
body {
  font-family: ElegantLux, Arial, arial, sans-serif;
  background: white;
}
body a {
  color: white;
}
body p,
body span {
  font-size: 28px;
  line-height: 35px;
}
body h1,
body h2,
body h3 {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #1e1e1e;
}
body header {
  background: #f7f5ea;
  background: url('../img/beer-background.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
}
body header #logo {
  margin-top: calc(15vh + 119px);
  text-align: center;
}
body header #logo img {
  margin: auto;
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
}
body header h1 {
  color: #1e1e1e;
}
body header .signup {
  margin-top: 15vh;
  margin-bottom: 15vh;
  background-color: #f7f5ea;
  padding: 50px;
  height: 550px;
  transition: all 0.8s ease-out;
  position: relative;
}
body header .signup ul {
  position: absolute;
  top: 45%;
  width: calc(100% - 100px);
}
body header .signup ul li {
  font-size: 26px;
  list-style-type: circle;
}
body header .signup p {
  margin: 50px 0;
  font-size: 25px;
}
body header .signup h1 {
  margin: 0;
  line-height: 50px;
  font-size: 32px;
}
body header .signup h1 #degustation-quote {
  font-weight: bolder;
}
body .section-title {
  position: relative;
  margin-bottom: 100px;
  z-index: 0;
}
body .section-title h2 {
  display: inline-block;
  padding: 20px 30px 10px 30px;
  background: #f7f5ea;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
body .section-title h2.two-line-title {
  padding-top: 0;
}
body .section-title h2.two-line-title ~ .title-line {
  top: 85px;
}
body .section-title .title-line {
  position: absolute;
  height: 0;
  width: 100%;
  border-top: 1px solid #1e1e1e;
  top: 50px;
  z-index: -1;
}
body #how-it-works {
  padding-top: 150px;
  padding-bottom: 150px;
}
body #how-it-works .section-title h2 {
  background: white;
}
body #how-it-works .step {
  padding: 50px 25px 0 25px;
}
body #how-it-works .step .step-number {
  width: 60px;
  height: 60px;
  border-right: 1px solid #1e1e1e;
  color: #dc9942;
}
body #how-it-works .step .step-number span {
  font-size: 85px;
  line-height: 47px;
}
body #how-it-works .step .step-text {
  font-size: 28px;
  width: calc(100% - 60px);
  padding-left: 25px;
  line-height: 35px;
  margin-top: -10px;
}
body #how-it-works #buy-how {
  margin-top: 75px;
}
body #how-it-works #buy-how a.btn {
  margin-bottom: 5px;
}
body #philosophy {
  background-color: #f7f5ea;
  overflow: hidden;
  position: relative;
}
body #philosophy img {
  position: absolute;
  top: -150px;
  right: 0;
}
body #philosophy .hidden-sm {
  padding-top: 150px;
  padding-bottom: 150px;
}
body #philosophy .visible-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}
body #philosophy .section-title h2 {
  background: #f7f5ea;
}
body footer {
  background: #1e1e1e;
  padding: 100px 0;
}
body footer a {
  color: #f7f5ea;
}
body footer a:hover i {
  transition: 0.3s ease;
  color: #dc9942;
}
body footer .section-title h2 {
  background: #1e1e1e;
  color: #f7f5ea;
}
body footer .section-title .title-line {
  border-color: #f7f5ea;
}
@media all and (max-width: 991px) {
  body #how-it-works {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  body #how-it-works .step {
    clear: both;
  }
  body header #logo {
    margin-top: 20px;
  }
  body header .signup {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  body #philosophy p {
    text-align: center;
  }
}
@media all and (min-width: 991px) {
  body header .signup {
    max-width: 550px;
  }
}
@media all and (max-width: 768px) {
  body section,
  body section#how-it-works {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  body .section-title {
    margin-bottom: 50px;
  }
  body .section-title h2 {
    padding: 0 5px;
    font-size: 38px;
  }
  body .section-title .title-line {
    display: none;
  }
  body header #logo {
    margin-top: 20px;
  }
  body header .signup {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }
  body header .signup h1 {
    font-size: 30px;
  }
}
@media all and (max-width: 399px) {
  body header .signup {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }
  body header .signup h1 {
    font-size: 34px;
  }
  body header .signup ul,
  body header .signup p {
    top: 50%;
  }
  body header .signup button {
    padding: 15px 20px;
    z-index: 100;
  }
}
